article p {
    background-color: aquamarine ;
    color: white ;
    padding: 20px;
}

article > p{
    background: bisque;
}

article ~ p{
    background-color: antiquewhite;
    color: black ;
    padding: 20px;
}

article +p{
    background-color: aqua;
}

h3:first-child{
    background-color: seashell;
    color: black;
}

span:first-of-type{
    background-color: black;
    color: white;
    padding: 10px;
}

form{
    margin-top: 20px;
}
input:invalid{
    border: 2px solid aqua ;
}

input:valid{
    border: 20px solid aquamarine ;
}

/*p:first-line{
    color: blue;
    font-size: 40px;
}*/

div{
    opacity: 0.5;
}


    
